$body-bg: #fdfdfd;

$highlight-color: #1728c4;
$success-color: #27bc77;
$info-color: #4489ea;
$error-color: #bc2751;
$text-color: #2a2c33;
$text-color-medium: #464954;
$text-color-light: #919399;
$medium-grey: #d2d5db;
$light-grey: #ebedf2;

$line-height-base: 1.8;
$smaller-text: 0.8rem;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1260px;