{% extends 'base.html.twig' %}

{% block title %}Forgot Password{% endblock %}

{% block body %}
<section>
    <h1>Forgot Password?</h1>
    <p>No problem! Tell us your email and we'll help you reset it.</p>

	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}

</section>
{% endblock %}
