{% extends 'base.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block body %}
<section>
    <h1>Reset your password</h1>

	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}

</section>
{% endblock %}
