label {
	display: block;
	font-size: 0.8rem;
}

input[type=text], input[type=email], input[type=password], input[type=submit], textarea {
	width: 320px;
	color: $text-color;
	border-radius: 4px;
	padding: 8px 12px;
	font-size: 1rem; 
	appearance: none;
	border: 1px solid $light-grey;
}

input:focus {
	outline: none;
	border-color: transparent;
	box-shadow: 0 0 3px 1px rgba($info-color, 0.7);
}

select {
	margin: 16px 16px 0 0;
	width: 120px;
	padding: 5px 35px 5px 5px;
	font-size: 1rem;
	border: 1px solid $light-grey;
	height: 40px;
}

.center-container {
	height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .center-container-item {
		padding-bottom: 20px;
		margin: auto;
		position: relative;

    	.logo-wrapper img{
			display: block;
			margin: auto;
			width: 80px;
    	}

    	h1 {
    		text-align: center;
    		margin: 4px 0 16px 0;
    		font-size: 1.5rem;
    	}

    	.form-wrapper {
			border: 1px solid $light-grey;
			box-shadow: 0 0 2px 2px rgba($light-grey, 0.2);
			border-radius: 4px;
			padding: 28px 24px 4px;
			background-color: white;

			button {
				margin-top: 8px;
			}

			&.form-email, &.form-reset {
				padding-bottom: 28px;
			}
		}

    	.feedback {
    		text-align: center;
    		position: absolute;
    		width: 100%;

    		p {
    			animation: fadein .5s;
    		}
    	}
    }
}

.form-input-group {
	margin-bottom: 16px;

	label {
		margin-bottom: 4px;
	}
}

.button-link-form {
	display: inline-block;
	margin-right: 4px;
}

.login-options {
	display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.checkbox label {
	display: inline-block;
}

.forgot-password {
	display: inline-block;
}

.after-form-info {
	text-align: center;
}


@media screen and (max-width: $breakpoint-mobile) {
	input {
		width: 220px;
	}
}