{% extends 'base.html.twig' %}

{% block title %}Upload Photo{% endblock %}

{% block body %}
<section>
    <h1>Upload photo</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</section>
{% endblock %}
