<header>
	<div class="logo-wrapper">
		<a href="/">
			<img src="/assets/logo.svg" alt="Logo">
		</a>
	</div>
	<div class="buttons-wrapper">
		<ul>
			<li>
				<a class="animated-link" href="{{ path('show_random') }}">Random</a>
			</li>
			<li>
				<a class="animated-link" href="{{ path('upload_photo') }}">Upload</a>
			</li>
		</ul>
	</div>
</header>